#counter{
    text-align: center;
    font-size: 10em;
    font-family: 'Courier New', Courier, monospace;
    display: block;
    margin-top: 25px;
}
#container{
    text-align: center;
}
.body{
    background-color: gray;
}
